@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Title</h3>

<div class="row">
    <div class="col-md-3">
        <img src="~/Content/LocalResources/ilkin_full.jpg" alt="İlkin Elimov" class="img-me">
    </div>
    <div class="col-md-8 text-justify">
        <p>
            This blog created for software developers, students and everyone who loves programming. I planned to write about helpful development methods, tools, tricks and error solutions in my blog posts.
        </p>
        <p>
            <b>Who am I?</b>
            I was born in 1991. My hometown is Suvagil village of Zagatala district, which is one of the most beautiful places of Azerbaijan. I got there in the secondary school in 1996-2008. During 2008-2012 years I studied "Information Technologies and Software" specialty at Azerbaijan Technical University. In the summer of 2012 until the summer of 2013, I was in the military service. Since February 2014, I work as Software Developer for an IT company in Baku/Azerbaijan.
        </p>
        <p>
            <b>Technologies I use.</b>
            I love work on web projects and .Net technologies are my favourites. In addition, when desktop applications needed, I work with them willingly. In my works I use Sql Server and Oracle databases related with C# and Asp.Net. On the client side, JavaScript & Jquery are my favourites. CSS3 and Bootstrap framework help me for coding webdesign.
        </p>
        <p>
            It seems that my articles will be based mostly web development.
        </p>
        <p>
            This blog was created with Asp.Net Mvc 5, Entity Framework and Bootstrap used for webdesign.
        </p>

        @*İlk öncə bloq barədə biraz məlumat verim. Bu bloqu proqramlaşdırma sevərlər üçün Azərbaycan dilində mənbə az olduğuna görə açmaq qərarına gəldim və hər hansı dil üzrə dərsliklər şəklində yox, məhz işləyərkən qarşılaşdığım problemlər və xətalar əsasında yazmaq fikrim var. Hansı dil & texnologiyalar barədə yazacağımı aşağıda qeyd etmişəm.*@

        @*<b>Mən kiməm?</b>
        1991-ci il təvəllüdlüyəm. Zaqatala rayonu Suvagil kəndində dünyaya gəlmişəm. 1996-2008-ci illər ərzində orada orta məktəbdə təhsil aldım. Proqramlaşdırmaya olan həvəsim mənim 2008-2012-ci illərdə Azərbaycan Texniki Universitetində "İnformasiya Texnologiyaları və Proqramlaşdırma" ixtisasını oxumağıma səbəb oldu. Tələbəlik illərində dərslərdən sonrakı vaxtımı da dəyərləndirib proqramlaşdırma bacarıqlarımı artırmaya çalışdım. 2012-ci ilin yayından 2013-cü ilin yayına qədər hərbi xidmətdə oldum. Bir neçə ay Zaqatalada qaldıqdan sonra artıq ixtisasım üzrə işləmək və təcrübələrimi artırmaq üçün iş başvurularına başladım. 2014-cü ilin fevralından informasiya texnologiyaları şirkətlərinin birində Proqramçı vəzifəsində işləyirəm.*@

        @*<b>Bloqdakı yazıların mövzusu. </b>
                Təbii ki, tələbəlik illərində öyrəndiyim C# və Asp.Net texnologiyaları favoritlərimdir və web proyektlər hazırlamaq 1 nömrəli marağım olaraq qalır. Bununla bərabər, ehtiyac yarandıqda desktop proqramlar da yazmışam. İşlərimdə C# & Asp.Net ilə birlikdə MsSql bazasından yararlanıram. İş yerində isə daha çox Oracle-a ehtiyac yarandığından bu sahədə də işləməli oluram. Eyni zamanda web client tərəfdə JavaScript & Jquery favoritlərimdəndir. Dizayn üçün CSS3 yenilikləri və Bootstrap yeni məşğuliyyətlərimdəndir.
        <p>
            Mobil sahədə hələ ki ciddi bir iş görməmişəm lakin təqdirəlayiq bir şey ortaya çıxarsam o barədə də paylaşım edəcəyəm.
            Belə görünür ki yazılarım web üstünlüklü olacaq.
        </p>
        <p>
            Bloqu Asp.Net Mvc 5 ilə hazırladım, Entity Framework-dən yararlandım və dizaynını Bootstrap əsaslı yığmışam.
        </p>
        <p>
                Ümumilikdə, yaxşı bir proqramçı olmaq üçün tələb olunan yeniliklərə uyğunlaşma, tez öyrənib tətbiq etmə, hər cür yeniliyə açıq olmaq özümdə ən xoşladığım xüsusiyyətlərdəndir..
            </p>*@
    </div>
</div>
