@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">Phone:</abbr>
    070 729 76 93 <br />
    
    <abbr title="Email">Email:</abbr>
    <a href="mailto:e-ilkin@msn.com">e-ilkin@msn.com</a><br />
    
    <abbr title="Social">Facebook: </abbr>
    <a href="http://facebook.com/eilkin" target="blank">facebook.com/eilkin</a><br/>

    <abbr title="Social">Linkedin: </abbr>
    <a href="http://linkedin.com/in/ilkinn" target="blank">linkedin.com/in/ilkinn</a>
</address>
